<a href="https://colab.research.google.com/github/MlungisiN/Data-Science-With-Python/blob/master/02_Project_pandas_DataFrame_tricks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a 
 href="https://colab.research.google.com/github/LearnPythonWithRune/DataScienceWithPython/blob/main/colab/starter/02 - Project - pandas DataFrame tricks.ipynb"
 target="_parent">
<img 
 src="https://colab.research.google.com/assets/colab-badge.svg"
alt="Open In Colab"/>
</a>

# Project - Play with DataFrames

## Goal of Project
- Master pandas DataFrame

### Step 1: Import pandas
- Execute the cell below (SHIFT + ENTER)

In [1]:
import pandas as pd

### Step 2: Read the data
- Use ```pd.read_csv()``` to read the file `files/population.csv`
- NOTE: Remember to assign the result to a variable (e.g., ```data```)

In [12]:
data = pd.read_csv('https://raw.githubusercontent.com/MlungisiN/Data-Science-With-Python/master/files/population.csv')
data.head()

   Country  Year  Population
0  Denmark  2000         5.3
1  Denmark  2010         5.5
2  Denmark  2020         5.8
3   Sweden  2000         8.8
4   Sweden  2010         9.3

### Step 3: Investigate the data types
- Use ```.dtypes```

In [13]:
data.dtypes

Country        object
Year            int64
Population    float64
dtype: object

### Step 4: Convert Year to Datetime
- ```pd.to_datetime(...)```: Convert to a datetime
- ```format='%Y'```: Format of input, here it is the year.

In [28]:
data['Year'] = pd.to_datetime(data['Year'], format='%Y')

In [29]:
data

   Country       Year  Population
0  Denmark 2000-01-01         5.3
1  Denmark 2010-01-01         5.5
2  Denmark 2020-01-01         5.8
3   Sweden 2000-01-01         8.8
4   Sweden 2010-01-01         9.3
5   Sweden 2020-01-01        10.2

In [33]:
data.dtypes

Country               object
Year          datetime64[ns]
Population           float64
dtype: object

### Step 5: Scale Population to millions
- HINT: ```data['Population']*1000``` scales by 1000000

In [36]:
data['Population'] = data['Population']*1000000

In [39]:
data

   Country       Year    Population
0  Denmark 2000-01-01  5.300000e+09
1  Denmark 2010-01-01  5.500000e+09
2  Denmark 2020-01-01  5.800000e+09
3   Sweden 2000-01-01  8.800000e+09
4   Sweden 2010-01-01  9.300000e+09
5   Sweden 2020-01-01  1.020000e+10

### Step 6: Calculate mean population for each country
- HINT: ```data.groupby('Country')``` groups the data

In [40]:
data.groupby('Country').mean()

           Population
Country
Denmark  5.533333e+09
Sweden   9.433333e+09

### Step 7: Replace Denmark to DNK
- Given a column you can access the string functions on it with ```.str```
    - This enables you to apply string functions on it
    - HINT: ```data['Country'].str.replace('Denmark', 'DNK')```

In [41]:
data['Country'] = data['Country'].str.replace('Denmark', 'DNK')

In [42]:
data

  Country       Year    Population
0     DNK 2000-01-01  5.300000e+09
1     DNK 2010-01-01  5.500000e+09
2     DNK 2020-01-01  5.800000e+09
3  Sweden 2000-01-01  8.800000e+09
4  Sweden 2010-01-01  9.300000e+09
5  Sweden 2020-01-01  1.020000e+10